<p>This form is easily adaptable to the customer's specific POC needs.</p>
<br />
<br/>
<form [formGroup]="exampleForm" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td><label for="sendTo">Send To:</label></td>
      <td><input id="sendTo" type="text" formControlName="sendTo"></td>
    </tr>
  <br>
    <tr>
      <td><label for="name">Name:</label></td>
      <td><input id="name" type="text" formControlName="name"></td>
    </tr>
  <br>
    <tr>
      <td><label for="input2">Input 2:</label></td>
      <td><input id="input2" type="text" formControlName="input2"></td>
    </tr>
    <br>
    <tr><td></td><td><button type="submit" [disabled]="!exampleForm.valid">Sign Up</button></td></tr>
  </table>

</form>



